@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  background-color: #1d1f21;
}

header {
  backdrop-filter: blur(10px);
}

#particles-js {
  z-index: 0;
}

.glass-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1;
  pointer-events: none;
}

section {
  z-index: 5;
  position: relative;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.svg-container {
  width: 100%;
  max-width: 300px;
  position: relative;
}

use[id*="orbit-"] {
  stroke-width: 2;
  opacity: 0.8;
}

use[id*="electron-"] {
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 0.1 400;
  animation: electron-orbit 6s linear infinite;
}

#electron-1 {
  animation-delay: 0s;
}
#electron-2 {
  animation-delay: 0.5s;
}
#electron-3 {
  animation-delay: 1s;
}

@keyframes electron-orbit {
  0% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }

  .nav-li {
    @apply text-softWhite hover:text-white max-sm:hover:bg-black-500 max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-lg md:text-base text-softWhite hover:text-[#2bbc8a] transition-colors;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 text-white text-xl transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .animate-spin-slow {
    animation: spin-slow 15s linear infinite;
  }
}
