@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
}

header {
  backdrop-filter: blur(10px);
}

.glass-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1;
  pointer-events: none;
}

section {
  z-index: 5;
  position: relative;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


.sidebar-item {
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar-item:hover {
  background-color: #f5efef;
  color: #000;
}
